@import "utils/libs";
@import "utils/vars";
@import "utils/mixins"; 
@import "utils/_normalize";

body { 
  position: relative;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  color: #ffffff;
  background-color: rgba(37, 37, 37, 0.671);
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: bold;
  font-size: 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  min-width: 320px;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden;
  @media (min-width: $tablet) {
    padding: 0 10px;
  }
}

.body-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.body-background img {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 56px;
}
.error-message {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: -1;
  min-width: 60%;
  max-width: 83%;
  margin: 0;
  padding: 15px;
  font-size: 12px; 
  color: #222222ed;
  background: #e5e5e5;
  background-color: rgb(240, 240, 240);
  border-radius: 4px; 
  opacity: 0;
  transition: all 0.3s;
  @media (min-width: $tablet) {
    max-width: 90%;
  }

  @media (min-width: $desktopWidth) {
    max-width: 100%;
  }
}

.error-message.active {
  top: calc(100% + 5px);
  z-index: 10;

  opacity: 1;

  transition: all 0.5s;
}

.error-message:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;

  width: 0;
  height: 0;

  border: solid transparent;

  pointer-events: none;
}

.error-message:after {
  margin-left: -10px;

  border-width: 10px;
  border-color: rgba(46, 46, 46, 0);
  border-bottom-color: #e5e5e5;
} 

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  overflow: unset;
}

.lang-switcher {
  position: relative;
}

.lang-switcher ul {
  position: absolute;
  top: 105%;
  left: 50%;
  z-index: 5;
  width: 70%;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  box-shadow: 1px 1px 1px 0 #8f067124;
  transform: translateX(-50%);
}

.lang-switcher.active ul {
  max-height: 200px;

  transition: max-height 0.4s linear;
}

.lang-switcher li {
  padding: 5px 0;
  font-weight: bold;
  font-size: 14px;
  color: #303030;
  text-shadow: 1px 1px 1px #ffffff73;
  background-color: rgb(201, 189, 189);
  box-shadow: inset 0 3px 2px -3px #24242459;
  transition: background-color 0.2s; 
}

.lang-switcher li:hover {
  background-color: rgb(99, 83, 83);
  color: #ffffff;
}

.lang-switcher li:first-child {
  position: relative;

  margin-top: 5px;

  border-radius: 3px 3px 0 0;
}

.lang-switcher li:first-child::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 1px;
  height: 1px;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: #ffffffc9;
}

.lang-switcher li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.lang-switcher a {
  display: block;
  padding: 12px;
  color: inherit;
  text-decoration: none;
}
.location-column {
  width: 100%;
  min-width: 270px;
  @media (min-width: $tablet) {
    width: 100%;
    min-width: 375px;
  }
  @media (min-width: $desktopWidth) {
    flex-grow: 1;
    width: 30%;
    min-width: 375px;
  }
}

.location-properties {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  text-transform: capitalize;
}
 
.map {
  width: 100%;
  min-height: 398px;
  background-color:rosybrown;
 
}

.marker-logo {
  width: 70%;
  margin: 5px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  color: rgb(0, 150, 12);
}

.options {
  display: grid;
  min-width: 223px;
  min-height: 44px; 

  grid-auto-flow: column;
  grid-gap: 5px;
  @media (min-width: $tablet) {
    margin-right: 15px;
  }
  @media (min-width: $desktopWidth) {
    margin-right: 0;
  }
}

.options-btn {
  width: 100%;
  min-width: 44px;
  height: 100%;
  min-height: 44px;
  background-color: $neutral-regular;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
  @include btn-reset;
}

.options-btn:hover,
.units-label:hover,
.search-btn:hover {
  background-color: rosybrown; 
}

.lang-menu:hover {
  background-size: 14px;
}

.options-btn:focus,
.units-label:focus {
  outline: none;
}

.update-bg-btn img {
 max-width: 20px;
margin: 0 auto;
}  
.lang-menu {
  box-sizing: border-box;
  min-width: 85px;
  padding: 0 4px 0 2px;
  font-weight: bold;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 10px;
}

.update-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 20px;
  background-size: contain;
  transform: translate(-50%, -50%);
}

.units-switcher {
  display: flex;
  width: 100px;
}

.units-switcher input {
  display: none;
}

.units-label {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  font-size: 14px;
  background-color: $neutral-regular;
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
 

.units-switcher input:checked + .units-label {
  background-color:$choosed-color ;
  border: 1px solid transparent;
  cursor: default;
} 

.search-form {
  position: relative;
  display: flex;
  min-width: 70%;
  margin-top: 15px;
  @media (min-width: $tablet) {
    min-width: 375px;
    margin-top: 15px;
  }
  @media (min-width: $desktopWidth) {
    min-width: 375px;
    margin-top: 0;
  }
}

.search {
  position: relative;
  display: flex;
  padding-left: 50px;
  max-width: 70%;
  @media (min-width: $tablet) {
    max-width: unset;
  }
  @media (min-width: $desktopWidth) {
    max-width: unset;
  }
}

.search-input {
  box-sizing: border-box;
  min-width: 220px;
  min-height: 44px;
  padding: 13px 0px 14px 15px;
    color: #ffffff;
  background-color: rgba(121, 161, 138, 0.6);
  border: 1px solid rgba(34, 80, 61, 0.2);
  border-radius: 5px 0 0 5px;
  @media (min-width: $tablet) {
    min-width: 274px;
  }
  @media (min-width: $desktopWidth) {
    min-width: 274px;
  }
}

.search-input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.microphone-btn {
  position: absolute;
  top: 20%;
  right: 0;
  min-width: 58px; 
  background-color: transparent; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 27px;
  border-radius: 50%;
  transform: translateY(-50%) scale(0.7);
  opacity: 0.4;
  transition: 0.3s;
  @include btn-reset;
}
.microphone-btn img{
  position: absolute;
  width: 60%; 
  padding-bottom: 50px;
}

.microphone-btn.active {
  opacity: 1;
 
} 

.microphone-btn:hover {
  opacity: 1;
}

.microphone-btn:focus {
  outline: none;
}

.search-btn {
  padding: 14px 10px 15px 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  background-color: $neutral-regular;
  border: 1px solid transparent;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
  @include btn-reset;
  @media (min-width: $tablet) {
    padding: 14px 20px 15px 20px;
  }
  @media (min-width: $desktopWidth) {
    padding: 14px 20px 15px 20px;
  }
}

.weather-column {
  min-width: 50%;
  max-width: 100%;
  padding-right: 10px;
  @media (min-width: $tablet) {
    max-width: 100%;
  }
  @media (min-width: $desktopWidth) {
    max-width: 60%;
    padding-right: 30px;
  }
}

.location-name {
  margin: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    font-size: 44px;
    line-height: 54px;
  }
  @media (min-width: $desktopWidth) {
    font-size: 44px;
    line-height: 54px;
  }
}

.date {
  display: flex;
  margin-bottom: 0;
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
  @media (min-width: $desktopWidth) {
    margin-bottom: 30px;
  }
}

.date-item {
  display: flex;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.date-item.time {
  margin-left: 15px;
}

.weather-performance {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 46px;
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
  @media (min-width: $desktopWidth) {
    margin-bottom: 46px;
  }
}

.current-weather {
  position: relative;
}

.weather-value {
  margin-right: 90px;

  font-weight: bold;
  font-size: 104px;
  line-height: 177px;
  color: #ffffff;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    margin-right: 175px;

    font-size: 180px;
    line-height: 275px;
  }
  @media (min-width: $desktopWidth) {
    margin-right: 0;

    font-size: 242px;
    line-height: 289px;
  }
}

.current-weather-unit {
  font-size: 50px;
  line-height: 112px;
  vertical-align: top;
  @media (min-width: $tablet) {
    font-size: 70px;
    line-height: 129px;
  }
  @media (min-width: $desktopWidth) {
    font-size: 104px;
    line-height: 129px;
  }
}

.current-weather-image {
  position: absolute;
  top: -10px;
  right: 0;
  left: unset;
  width: 89px;
  height: 115px;
  background-color: transparent;

  object-fit: contain;
  @media (min-width: $tablet) {
    right: 0;
    left: unset;
    width: 125px;
  }
  @media (min-width: $desktopWidth) {
    top: -30px;
    right: unset;
    left: 100%;
    width: 150px;
  }
}

.weather-indicators {
  min-width: 200px;
  margin-bottom: 0;
  margin-left: 0;
  @media (min-width: $tablet) {
    margin-bottom: 66px;
    margin-left: 37px;
  }
  @media (min-width: $desktopWidth) {
    margin-bottom: 15px;
    margin-left: 37px;
  }
}

.weather-indicators-item {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}

.forecast {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  @media (min-width: $tablet) {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }
  @media (min-width: $desktopWidth) {
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  }
}

.week-day {
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  @media (min-width: $tablet) {
    font-size: 20px;
  }
  @media (min-width: $desktopWidth) {
    line-height: 27px;
  }
}

.day-temperature-value {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 0;
  line-height: 98px;
  color: #ffffff;
  text-transform: uppercase;
}

.day-temperature-value span {
  font-size: 40px;
  @media (min-width: $tablet) {
    font-size: 46px;
  }
  @media (min-width: $desktopWidth) {
    font-size: 56px;
  }
}

.day-temperature-value .forecast-unit {
  margin-left: 5px;
  font-size: 29px;
  line-height: 73px;
  vertical-align: top;
  @media (min-width: $tablet) {
    font-size: 26px;
  }
  @media (min-width: $desktopWidth) {
    line-height: 76px;
  }
}

.day-temperature-icon {
  width: 36px;
  margin-left: 2px;
  @media (min-width: $tablet) {
    width: 72px;
    margin-left: 3px;
  }
  @media (min-width: $desktopWidth) {
    width: 85px;
    margin-left: 10px;
  }
}

div.icons-weather {
  height: 100px;
  margin: 5% auto;

  text-align: center;
  color: white;
}

h1 {
  padding: 20px 0;

  font-weight: 300;
}

.icon {
  width: 100%;
  height: 100%;
}

.long-ray {
  -webkit-animation: longRayAnimation 4s linear infinite;
          animation: longRayAnimation 4s linear infinite;

  stroke: #ffdd1a;
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  stroke-width: 3;
}

@keyframes longRayAnimation {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes longRayAnimation {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.short-ray {
  -webkit-animation: shortRayAnimation 3s linear infinite;
          animation: shortRayAnimation 3s linear infinite;

  stroke: #ffdd1a;
  stroke-dasharray: 3;
  stroke-dashoffset: 1;
  stroke-width: 1.5;
}

@-webkit-keyframes shortRayAnimation {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shortRayAnimation {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.small-cloud {
  -webkit-animation: float 8s linear infinite;
          animation: float 8s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0px, 15px);
    opacity: 0.75;
  }

  25% {
    -webkit-transform: translate(15px, 0px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(30px, 0px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(25px, 0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0px, 15px);
    opacity: 0.75;
  }
}

@keyframes float {
  0% {
    -ms-transform: translate(0px, 15px);
        transform: translate(0px, 15px);
    opacity: 0.75;
  }

  25% {
    -ms-transform: translate(15px, 0px);
        transform: translate(15px, 0px);
    opacity: 1;
  }

  50% {
    -ms-transform: translate(30px, 0px);
        transform: translate(30px, 0px);
    opacity: 1;
  }

  75% {
    -ms-transform: translate(25px, 0px);
        transform: translate(25px, 0px);
    opacity: 1;
  }

  100% {
    -ms-transform: translate(0px, 15px);
        transform: translate(0px, 15px);
    opacity: 0.75;
  }
}

.reverse-small-cloud {
  -webkit-animation: reverse-float 6s linear infinite;
          animation: reverse-float 6s linear infinite;
}

@-webkit-keyframes reverse-float {
  0% {
    -webkit-transform: translate(0px, -15px);
    opacity: 0.75;
  }

  25% {
    -webkit-transform: translate(-15px, 0px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(-30px, 0px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(-25px, 0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0px, -15px);
    opacity: 0.75;
  }
}

@keyframes reverse-float {
  0% {
    -ms-transform: translate(0px, -15px);
        transform: translate(0px, -15px);
    opacity: 0.75;
  }

  25% {
    -ms-transform: translate(-15px, 0px);
        transform: translate(-15px, 0px);
    opacity: 1;
  }

  50% {
    -ms-transform: translate(-30px, 0px);
        transform: translate(-30px, 0px);
    opacity: 1;
  }

  75% {
    -ms-transform: translate(-25px, 0px);
        transform: translate(-25px, 0px);
    opacity: 1;
  }

  100% {
    -ms-transform: translate(0px, -15px);
        transform: translate(0px, -15px);
    opacity: 0.75;
  }
}

#drop1 {
  -webkit-animation: rain 1s linear infinite;
          animation: rain 1s linear infinite;
}

#drop3 {
  -webkit-animation: rain 1s linear infinite 0.5s;
          animation: rain 1s linear infinite 0.5s;
}

#drop2 {
  -webkit-animation: rain 2s linear infinite 1s;
          animation: rain 2s linear infinite 1s;
}

#drop4 {
  -webkit-animation: rain 2s linear infinite 0.8s;
          animation: rain 2s linear infinite 0.8s;
}

@-webkit-keyframes rain {
  0% {
    opacity: 1;
  }

  25% {
    -webkit-transform: translateY(5px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(15px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(25px);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: translateY(35px);
    opacity: 0;
  }
}

@keyframes rain {
  0% {
    opacity: 1;
  }

  25% {
    -ms-transform: translateY(5px);
        transform: translateY(5px);
    opacity: 1;
  }

  50% {
    -ms-transform: translateY(15px);
        transform: translateY(15px);
    opacity: 1;
  }

  75% {
    -ms-transform: translateY(25px);
        transform: translateY(25px);
    opacity: 0.75;
  }

  100% {
    -ms-transform: translateY(35px);
        transform: translateY(35px);
    opacity: 0;
  }
}

#rainDrizzle {
  -webkit-animation: drizzle 5s linear infinite;
          animation: drizzle 5s linear infinite;

  stroke: lightblue;
  stroke-dasharray: 3;
  stroke-dashoffset: 1;
  stroke-width: 1;
}

@-webkit-keyframes drizzle {
  from {
    stroke-dashoffset: 40;
  }

  to {
    stroke-dashoffset: 10;
  }
}

@keyframes drizzle {
  from {
    stroke-dashoffset: 40;
  }

  to {
    stroke-dashoffset: 10;
  }
}

.lighting {
  animation-duration: 2.5s;
}

#snowFlake {
  fill: none;
  stroke: white;
  stroke-width: 0.6;
}

#snowFlake1 {
  -webkit-animation: snow 4s linear infinite;
          animation: snow 4s linear infinite;
}

#snowFlake2 {
  -webkit-animation: snow 3s linear infinite 0.8s;
          animation: snow 3s linear infinite 0.8s;
}

#snowFlake3 {
  -webkit-animation: snow 5s linear infinite 0.5s;
          animation: snow 5s linear infinite 0.5s;
}

#snowFlake4 {
  -webkit-animation: snow 6s linear infinite 1s;
          animation: snow 6s linear infinite 1s;
}

#snowFlake5 {
  -webkit-animation: snow 4s linear infinite 0.6s;
          animation: snow 4s linear infinite 0.6s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate(5px, 0px);
    opacity: 1;
  }

  25% {
    -webkit-transform: translate(0px, 10px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(7px, 20px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate(0px, 30px);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: translate(10px, 40px);
    opacity: 0.5;
  }
}

@keyframes snow {
  0% {
    -ms-transform: translate(5px, 0px);
        transform: translate(5px, 0px);
    opacity: 1;
  }

  25% {
    -ms-transform: translate(0px, 10px);
        transform: translate(0px, 10px);
    opacity: 1;
  }

  50% {
    -ms-transform: translate(7px, 20px);
        transform: translate(7px, 20px);
    opacity: 1;
  }

  75% {
    -ms-transform: translate(0px, 30px);
        transform: translate(0px, 30px);
    opacity: 0.75;
  }

  100% {
    -ms-transform: translate(10px, 40px);
        transform: translate(10px, 40px);
    opacity: 0.5;
  }
}

#ice1 {
  -webkit-animation: ice 1s linear infinite;
          animation: ice 1s linear infinite;
}

#ice3 {
  -webkit-animation: ice 1s linear infinite 0.5s;
          animation: ice 1s linear infinite 0.5s;
}

#ice2 {
  -webkit-animation: ice 2s linear infinite 1s;
          animation: ice 2s linear infinite 1s;
}

#ice4 {
  -webkit-animation: ice 2s linear infinite 0.8s;
          animation: ice 2s linear infinite 0.8s;
}

@-webkit-keyframes ice {
  0% {
    opacity: 1;
  }

  25% {
    -webkit-transform: translateY(5px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(15px);
    opacity: 1;
  }

  75% {
    -webkit-transform: translateY(25px);
    opacity: 0.75;
  }

  100% {
    -webkit-transform: translateY(35px);
    opacity: 0;
  }
}

@keyframes ice {
  0% {
    opacity: 1;
  }

  25% {
    -ms-transform: translateY(5px);
        transform: translateY(5px);
    opacity: 1;
  }

  50% {
    -ms-transform: translateY(15px);
        transform: translateY(15px);
    opacity: 1;
  }

  75% {
    -ms-transform: translateY(25px);
        transform: translateY(25px);
    opacity: 0.75;
  }

  100% {
    -ms-transform: translateY(35px);
        transform: translateY(35px);
    opacity: 0;
  }
}

#mist {
  animation: misty 5s linear infinite alternate;

  fill: none;
  stroke: #333333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

@-webkit-keyframes misty {
  from {
    x: -10px;
  }

  to {
    x: 17px;
  }
}

@keyframes misty {
  from {
    x: -10px;
  }

  to {
    x: 17px;
  }
}

.stars {
  animation-duration: 3s;
}

.wind {
  fill: none;
  stroke: #333333;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-linecap: round;
  stroke-width: 4;
}

#wind1 {
  -webkit-animation: windy 2.5s linear forwards infinite 0.5s;
          animation: windy 2.5s linear forwards infinite 0.5s;
}

#wind2 {
  -webkit-animation: windy 2.8s linear forwards infinite 0.55s;
          animation: windy 2.8s linear forwards infinite 0.55s;
}

#wind3 {
  -webkit-animation: windy 3.5s linear forwards infinite 2s;
          animation: windy 3.5s linear forwards infinite 2s;
}

#wind4 {
  -webkit-animation: windy 3.5s linear forwards infinite 0.5s;
          animation: windy 3.5s linear forwards infinite 0.5s;
}

#wind5 {
  -webkit-animation: windy 4s linear forwards infinite 0.5s;
          animation: windy 4s linear forwards infinite 0.5s;
}

@-webkit-keyframes windy {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes windy {
  to {
    stroke-dashoffset: 0;
  }
}

#tornado {
  -webkit-animation: skewX 0.85s infinite linear alternate;
          animation: skewX 0.85s infinite linear alternate;
}

@-webkit-keyframes skewX {
  0% {
    -webkit-transform: skewX(20deg);
  }

  100% {
    -webkit-transform: skewX(-20deg);
  }
}

@keyframes skewX {
  0% {
    -ms-transform: skewX(20deg);
        transform: skewX(20deg);
  }

  100% {
    -ms-transform: skewX(-20deg);
        transform: skewX(-20deg);
  }
}

footer {
  margin: 20px 20px 0 0;

  font-size: 0.95em;
  text-align: right;
}
